.card-content {
  border: 1px solid #d3d3d3; 
  border-radius: 5%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer;

  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;

  margin-bottom: 10px;
}

.card-content:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.card-with-link {
  position: relative;
  padding-top: 40px; 
}




.container {
  column-count: 3;
  column-fill: balance;
}


.container img,
.container a {
  max-width: 100%; 
  height: auto; 
}

/* Para telas pequenas (largura máxima de 767px) */
@media (max-width: 767px) {
  .container {
    column-count: 2;
    column-fill: balance;
  }
}


.full-column {
  width: 100%; /* Ocupa a largura total do contêiner */
  grid-column: 1 / -1; /* Se estiver usando CSS Grid */
  column-span: all; /* Se estiver usando column-count */
}
.item {
  break-inside: avoid; /* Evita que o item seja quebrado entre colunas */
  margin-bottom: 1rem;
}

.item.large {
  column-span: all; /* Força o item a ocupar a largura total */
}
